<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lab 1 bài 4</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>

<body ng-app="myApp">
    <div ng-controller="myCtrl">
        <div class="container" style="background-color: rgb(157, 255, 253);">
            <div class="py-3">
                <label class="form-label"><strong>Chiều dài</strong></label>
                <input type="text" class="form-control" ng-model="chieuDai">
                <label class="form-label"><strong>Chiều rộng</strong></label>
                <input type="text" class="form-control" ng-model="chieuRong">
                <label class="form-label"><strong>Chu vi</strong></label>
                <input type="text" class="form-control" value="{{chuVi}}">
                <label class="form-label"><strong>Diện tích</strong></label>
                <input type="text" class="form-control" value="{{dienTich}}">
                <button class="btn btn-success mt-3" ng-click="ketQua()">Tính kết quả</button>
            </div>
        </div>
    </div>
    <script>
        var app = angular.module("myApp", []);
        app.controller("myCtrl", function ($scope) {
            $scope.ketQua = function () {
                if (!isNaN(parseFloat($scope.chieuDai)) || !isNaN(parseFloat($scope.chieuRong))) {
                    $scope.chuVi = (parseFloat($scope.chieuDai) + parseFloat($scope.chieuRong)) * 2;
                    $scope.dienTich = parseFloat($scope.chieuDai) * parseFloat($scope.chieuRong);
                } else {
                    $scope.chuVi = "Nhập liệu sai!";
                    $scope.dienTich = "Nhập liệu sai!";
                }
            }
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
</body>

</html>