<form method="post">
    <label class="form-label">Tên</label>
    <input type="text" class="form-control" placeholder="Mời nhập tên" ng-model="name">
    <label class="form-label">Giá</label>
    <input type="text" class="form-control" placeholder="Mời nhập giá" ng-model="gia">
    <label class="form-label">Loại</label>
    <input type="text" class="form-control" placeholder="Mời nhập loại" ng-model="loai">

    <button type="button" class="btn btn-outline-primary mt-3" ng-click="submit()">Add</button>
</form>